@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/* ----top banner style --- */
.carousel-item img {
    min-height: 300px;
    filter: brightness(50%)
}

.carousel-caption h1 {
    font-size: 4.5em;
    margin-top: 4%;